<ol class="posts user-list">
		
	{{#each follower in controller}}
		<li class="post">
			<div class="avatar-container inline-block">
			{{! http://emberjs.com/api/classes/Ember.Handlebars.helpers.html#method_bind-attr }}
				<img {{bind-attr src="follower.photo"}} class="avatar">
			</div>
			<div class="post-container inline-block">
				{{#if follower.followingCurrentuser}}
					<button class="post-publish" {{action "followUser" follower.id}}>
						Follow
					</button>
				{{else}}
					<button class="post-publish" {{action "unFollowUser" follower.id}}>
						Unfollow
					</button>
				{{/if}}
				<p class="username"><strong>{{#link-to 'user' follower.id class="user-link inline-block"}}{{follower.name}}{{/link-to}}</strong></p>
			</div>
			
		</li>
	{{/each}}

</ol>