<ol class="posts">
		
	{{#each post in controller}}
		<li class="post">
			<div class="avatar-container inline-block">
			{{! http://emberjs.com/api/classes/Ember.Handlebars.helpers.html#method_bind-attr }}
				<img {{bind-attr src="post.user.photo"}} class="avatar">
			</div>
			<div class="post-container inline-block">
				<p class="username"><strong>{{#link-to 'user' post.user.id class="user-link inline-block"}}{{post.user.name}}{{/link-to}}</strong></p>
				{{{post.content}}}
				<p class="post-meta">
		
					{{format-date post.date}}
					
					{{#if isAuthor}}
						&bull; 
						<a href="#" {{action "deletePost" post}}>
							Delete
						</a>
					{{/if}}
				</p>
			</div>
		</li>
	{{/each}}

</ol>