<section class="login inline-block">

	<h2>Create your account</h2>

	{{input type="text" placeholder="Enter your name.." value=name}}
	{{input type="text" placeholder="Enter your username.." value=username}}
	{{input type="email" placeholder="Enter an email address.." value=email}}
	{{input type="password" placeholder="Enter your password.." value=password}}

	<div class="form-submit">

		<input type="submit" value="Sign up" class="inline-block" {{action "signup"}}>
		<p class="recover inline-block">{{#link-to 'public.login'}}Login{{/link-to}}</p>
	</div>

</section>