<div class="dashboard white-bg">

	{{outlet topbar}}

	<div class="container">

		{{#if session.isAuthenticated}} 
			{{! http://emberjs.com/api/classes/Ember.Handlebars.helpers.html#method_textarea }}
			{{textarea class="post-textarea" placeholder="Add a new post" rows="5" maxlength="140" value=postTextArea}}

			{{#if postError}}
				<div class="alert">Please enter text above.</div>
			{{/if}}

			<button class="post-publish" {{action "createPost"}}>
				Publish
			</button>

			<p class="post-character-count">{{charactersLeft}} characters</p>
			

			<div class="clearfix"></div>

		{{/if}}

		<h1 class="page-title">Latest Posts</h1>

		{{post-block deletePost="delete" param=post posts=model}}

		</ol>

	</div>

</div>