<div class="dashboard white-bg">

{{outlet topbar}}

{{#if session.isAuthenticated}} 
		<p>Logged in as {{user}}</p>
{{/if}}

	<div class="container">

		<h1 class="page-title">Latest Posts</h1>

		<ol class="posts">
		
			{{#each post in controller}}
				<li class="post">
					<div class="avatar-container">
						<img src="{{post.id.photo}}" class="avatar">
					</div>
					<div class="post-container">
						<p><strong>{{post.user.name}}</strong></p>
						{{post.content}}
						<p class="post-meta">2 minutes ago &bull; Delete</p>
					</div>
				</li>
			{{/each}}

		</ol>

	</div>

</div>