<div class="dashboard white-bg">

{{outlet topbar}}

{{#if session.isAuthenticated}} 
		{{!placeholder for now}}
{{/if}}

	<div class="container">

		{{! http://emberjs.com/api/classes/Ember.Handlebars.helpers.html#method_textarea }}
		{{textarea class="post-textarea" placeholder="Add a new post" rows="5" maxlength="140" value=postTextArea}}

		{{#if postError}}
			<div class="alert">Please enter text above.</div>
		{{/if}}

		<button class="post-publish" {{action "createPost"}}>
			Publish
		</button>

		<p class="post-character-count">{{charactersLeft}} characters</p>
		

		<div class="clearfix"></div>

		<h1 class="page-title">Latest Posts</h1>

		<ol class="posts">
		
			{{#each post in controller itemController="post"}}
				<li class="post">
					<div class="avatar-container inline-block">
					{{! http://emberjs.com/api/classes/Ember.Handlebars.helpers.html#method_bind-attr }}
						<img {{bind-attr src="post.user.photo"}} class="avatar">
					</div>
					<div class="post-container inline-block">
						<p class="username"><strong>{{#link-to 'user' post.user.id class="user-link inline-block"}}{{post.user.name}}{{/link-to}}</strong></p>
						{{post.content.content}}
						<p class="post-meta">
				
							{{format-date post.date}}
							
							{{#if isAuthor}}
								&bull; 
								<a href="#" {{action "deletePost" post}}>
									Delete
								</a>
							{{/if}}
						</p>
					</div>
				</li>
			{{/each}}

		</ol>

	</div>

</div>