<div class="dashboard white-bg">

	{{outlet topbar}}

	<div class="container">

		<div class="profile-center-block">
			<img {{bind-attr src="session.user.photo"}} class="profile-photo">
			<p><strong>{{session.user.name}}</strong><br />@{{session.user.id}}</p>
		</div>

		<div class="profile-nav-bar">
			<h3>
				{{#link-to "user" class="profile-nav-item inline-block"}}Posts{{/link-to}}
				{{#link-to "user.following" class="profile-nav-item inline-block"}}Following{{/link-to}}
				{{#link-to "user.followers" class="profile-nav-item inline-block"}}Followers{{/link-to}}
			</h3>
		</div>

		{{outlet}}
	</div>

</div>